@use 'base/variables' as v;
@use 'base/mixins' as m;


.game {
  padding: 2rem 5rem 0 5rem;

  @include m.tablet {
    max-width: 80%;
    margin: 5rem auto 0 auto;
  }

  @include m.desktop {
    max-width: 50%;
  }
}

h1 {
  font-size: 3.5rem;
  text-align: center;
  margin: 0 0 4rem 0;

  @include m.tablet {
    font-size: 4rem;
    margin-bottom: 7rem;
  }
}

.page-changes {
  position: absolute;
  bottom: 2rem;
  @include m.grid(3, 0);
  align-items: center;
  padding: 0 5rem;
  width: 100%;
  justify-items: center;  
}